@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: Poppins;
    background-color: #181a1b;
    color: #d7d7d7;
}

/* panels */
.panel {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50%);
}
.main-panel {
    margin: 8rem;
    padding: 5rem;
}

/* separators */
.nav-sep {
    border-left: 0.1rem solid rgb(144, 144, 144);
    /* border-right: 0.1rem solid white; */
    margin-left: 1rem;
    margin-right: 1rem;
}
.base-sep {
    border-top: 0.1rem solid rgb(144, 144, 144);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* based links */
a:link {
    color: #fafafa;
    text-decoration: none;
}
a:visited {
    color: #fafafa;
    text-decoration: none;
}
a:hover {
    color: #fafafa;
    text-decoration: none;
}
a:active {
    color: #fafafa;
    text-decoration: none;
}

/* util styles */
.centered-text {
    text-align: center;
}

.round-embed {
    border: 2px white solid;
    border-radius: 50%;
}