@import url('https://fonts.googleapis.com/css?family=JetBrains+Mono');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('/bg.jpg') no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'JetBrains Mono', sans-serif;
}

a {
    text-decoration: underline;
    text-decoration-color: theme('colors.slate.500');
    text-decoration-thickness: theme('height[0.5]');
}